* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Overpass", sans-serif;
}

.container-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  background-color: hsl(216, 12%, 8%);
  padding: 2em;
  border-radius: 2em;
  width: 25%;
}

.starIcon {
  background-color: hsl(213, 19%, 18%);
  padding: 1em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.title {
  margin-top: 1em;
  color: hsl(0, 0%, 100%);
}

.description {
  font-size: 0.9em;
  margin-top: 0.5em;
  color: hsl(216, 12%, 54%);
  line-height: 1.5;
}

.rating {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}

.ratingItem {
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  padding: 1em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ratingItem:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.ratingItem:active,
.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.buttonSubmit {
  outline: none;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2em;
  width: 100%;
  padding: 1em 0;
}

.buttonSubmit:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/* Thank You container */

.ratingCount {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  padding: 0.5em 0;
  width: 60%;
  border-radius: 1.5em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.thanks {
  text-align: center;
  padding: 3em 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
}

.thanksDescription {
  font-size: 0.93em;
}

.attribution {
  padding: 2em;
}
